<footer class="main-footer">
  <wired-divider elevation="2"></wired-divider>
  <p>
    <a href="/license/">CC BY-SA 4.0 / MIT</a>
    -
    <a href="https://github.com/cobalt-org/cobalt.rs">Built with Cobalt</a>
  </p>
  <br>
</footer>
