<meta charset="utf-8">
<meta
    name="viewport"
    content="width=device-width">
<title>{{ page.title }}</title>
<link
    rel="stylesheet"
    href="/style.css"
    type="text/css"
    media="all" />
<link
    rel="alternate"
    href="/rss.xml"
    type="application/rss+xml"
    title="RSS" />
<meta
    name="author"
    content="{{ site.data.author }}">
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Amatic+SC">
{% include "_scripts.liquid" %}
