<nav class="main-menu">
    <wired-link class="menu-item" href="/about.html">About</wired-link>
    <a class="menu-item" href="/about.html">About</a>
    <a class="menu-item" href="/archive.html">Archive</a>
    <a class="menu-item icon" href="http://github.com/nathanjent">My Github</a>
    <a class="menu-item icon" href="/rss.xml">RSS</a>
    <wired-divider elevation="2"></wired-divider>
</nav>
