<nav class="main-menu">
    <a class="menu-item" href="/about.html">About</a>
    <a class="menu-item" href="/archive.html">Archive</a>
    <a class="menu-item icon" href="http://github.com/nathanjent">My Github</a>
    <a class="menu-item icon" href="/rss.xml">RSS</a>
    <hr>
</nav>
